/*@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Boogaloo|Changa+One|Sigmar+One');

html, body {
	margin: 0;
	padding: 0;
}

body{
	

}
#all{

	height:100%;
	width:100%;
	margin:auto;

}
.inicial{
	background-image: url("../img/fundo.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 6%;
	padding-top:6%; 
}
.container{
	width: 40%;
	height: 60%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2%;
	margin: 0 auto;
	margin-top: 6%;
	padding: 3% 0% 3% 0%;

} 
h3.fontinicial {
	margin: 0%;
	line-height: 120%;
	font-size:  450%;
	font-family: 'Alfa Slab One', cursive;
	font-family: 'Boogaloo', cursive;
	font-family: 'Changa One', cursive;
	font-family: 'Sigmar One', cursive;
}

.sobreosite{

	width: 40%;
	height: 70%;
	text-align: justify;
	float:right;  
	margin: 12% 5% 11% 0%;
	border-radius: 2%;

}

h1{
	margin-right: 6%;
	padding: 2%;
	font-size: 160%;

}
/* Let's get this party started */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: #050b0b;
	border-radius: 0;
}
::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 0;
}

@media (max-width: 960px) {
	h3.fontinicial {
		font-size: 150%;
	}
	h2.fontinicial{
		font-size: 90%;
	}
	h1.sobre{
		font-size: 100%;
	}
	.sobreosite{
		float: none;
		text-align: center;
		width: 100%;
		margin: 5%;
	}
}

